<div class="text-layout">
    <h1>Pipes basicos</h1>
    <p>
        Pipes incluidos en Angular - En el modulo Commun Module
    </p>
</div>

<div class="grid">
    <div class="col">
        <p-card header="UpperCase" [subheader]="nameLower | lowercase">
            {{nameLower | lowercase}}
        </p-card>
    </div>
    <div class="col">
        <p-card header="LowerCase" [subheader]="nameUpper | uppercase">
            {{nameUpper | uppercase}}
        </p-card>

    </div>
    <div class="col">
        <p-card header="TitleCase" [subheader]="completeName | titlecase">
            {{completeName | titlecase}}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe </h1>
    <p>
        Pipes para mostrar fechas
    </p>
</div>

<div class="grid">
    <div class="col">
        <p-card>
            <ul>
                <li>date</li>
                <li>date | date</li>
                <li>date | date:"short"</li>
                <li>date | date:"MMMM dd, yyyy"</li>
            </ul>
            <hr>
            
            <ul>
                <li>date | date:"long":"GMT-3"</li>
                <li>date | date:"long":"GMT-4"</li>
                <li>date | date:"MMM dd, yyy, hh:mm aaa":"GMT+7":"ru-KG"</li>
                <li>date | date:"dd/MM/YYYY, hh:mm aaa":"GMT+7":"es-CL"</li>
            </ul>
        </p-card>
    </div>
    <div class="col">
        <p-card>
            <ul>
                <li>{{ date }}</li>
                <li>{{ date | date }}</li>
                <li>{{ date | date:"short" }}</li>
                <li>{{ date | date:"MMMM dd, yyyy" }}</li>
            </ul>
            <hr>
            
            <ul>
                <li>{{date | date:"long":"GMT-3"}}</li>
                <li>{{date | date:"long":"GMT-4"}}</li>
                <li>{{date | date:"MMM dd, yyy, hh:mm aaa":"GMT+7":"ru-KG"}}</li>
                <li>{{date | date:"dd/MM/YYYY, hh:mm aaa":"GMT+7":"es-CL"}}</li>
        </ul>

        </p-card>
    </div>

</div>